Source: apx-stacks
Section: admin
Priority: optional
Maintainer: Matthew Lenz <matthewlenz@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://github.com/Vanilla-OS/apx-community

Package: apx-stacks
Architecture: all
Multi-Arch: foreign
Depends: apx,
         ${misc:Depends}
Description: default apx stacks and package-manager definitions
 Stack and package-manager YAML definitions from apx-community that let
 apx create subsystems based on Fedora, Arch Linux, Ubuntu and Vanilla OS.
